/* mobile first approach */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --color-border-darker: #5c5577;
  --border-radius: 30px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* * typography */
html {
  /* 62.5% of 16px = 10px from this we can easily measure the rem size */
  font-size: 62.5%;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  margin-bottom: 1rem;
  color: var(--color-headings);
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0px;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* * Links */
a {
  text-decoration: none;
}
.link-arrow {
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px; /* using px beacuse, i need margin to be consistent throught the varous screensize */
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* * banner */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
.badge--primary {
  background: var(--color-primary);
  color: #fff;
}
.badge--secondary {
  background: var(--color-secondary);
}
.badge--small {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/* list */
.list {
  list-style: none;
  padding-left: 0;
  font-size: 2rem;
  color: var(--color-headings);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
.icon {
  width: 40px;
  height: 40px;
}
.icon--container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex; /* spans are inline so we have to make it
    display:inline and to center the element inside of it 
    we need to use flexbox so inline-flex */
  justify-content: center;
  align-items: center;
}
.icon--container--accent {
  background: var(--color-accent);
}
.icon--primary {
  fill: var(--color-headings);
}
.icon--white {
  fill: #fff;
}
.icon--small {
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* button */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin: 1rem 0;
}
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background: #3a8ffd;
}
.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background: #ec3000;
}
.btn--block {
  width: 100%;
  display: inline-block;
}
.btn--outline {
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
  background: #fff;
}
.btn--outline:hover {
  color: #fff;
  background-color: var(--color-headings);
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* button */
.input {
  padding: 1.5rem 3.5rem;
  border-radius: 30px;
  border: 1px solid var(--color-border);
  outline: 0;
  color: var(--color-headings);
  font-size: 2rem;
}
::placeholder {
  color: #cdcbd7;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* input group */
.input-group {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .btn {
  margin: 4px;
}

/* cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

/* Plans */
.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}
/* Media */
.media {
  /* if we make display as flex 2 divs will place next to each other */
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}
/* quote */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-border-darker);
  line-height: 1.3;
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.quote__author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}
.quote__organization {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}
.quote__line {
  position: relative;
  bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}

/* grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--col2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1028px) {
  .grid--col3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Testimonial */
.testimonial {
  padding: 3rem;
}
.testimonial__image > img {
  width: 100%;
}
.testimonial__image {
  position: relative;
}
.testimonial__image > .icon--container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin-left: 6rem;
  }
}
