<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, magnam
    consequatur dolorum deleniti magni temporibus architecto veritatis ipsa ea
    nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
    porro voluptas exercitationem perspiciatis voluptates dolorem perferendis in
    at esse iure.
  </p>
  <footer>
    <!-- reusing media component -->
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Vishnu Shankar</h3>
        <p class="quote__organization">Hope Company</p>
      </div>
    </div>
  </footer>
</blockquote>
